@import 'styles/constants.scss';

.object-list-title {
    display: flex;
    flex-direction: row;
    color: $gray;
    justify-content: space-between;
    margin-bottom: 44px;

    .button-dropdown button {
        height: 23px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

