@import 'styles/constants.scss';

.object-list-header {
    display: flex;
    width: 100%;
    padding: 0 $object-list-right-padding 0 $object-list-left-padding;
    margin-bottom: 6px;
    color: $gray-light;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    border: 1px solid $gray-ultra-light;
    border-left: none;
    border-right: none;

    .item {
        display: flex;
        align-items: center;
    }

    .can-sort {
        cursor: pointer;
    }

    .active {
        font-weight: bold;
    }

    i {
        font-size: 14px;
        margin-left: 4px;
        transform: scale(1, -1);
    }

    .reverse i {
        transform: none;
    }
}

