@import 'styles/constants.scss';

.object-list-header {
    display: flex;
    width: 100%;
    padding: 0 $object-list-right-padding 0 $object-list-left-padding;
    margin-bottom: 6px;
    color: $gray-light;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    border: 1px solid $gray-ultra-light;
    border-left: none;
    border-right: none;

    .can-sort {
        cursor: pointer;
    }
}

