@import 'styles/constants.scss';

.d-top {
    height: $nav-height;
    padding-left: $nav-width;

    .nav-logo {
        width: $nav-width;
    }

    img.logo {
        margin-left: 16px;
    }

    z-index: 998;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    //box-shadow: $card-shadow;
    border-bottom: 1px solid $gray-ultra-light;
    display: flex;
    align-items: center;

    .nav-left {
        flex: 1;
        flex-grow: 1;
        margin: 0px 36px;


        .multiselect.inputs {
            background-color: rgba(0,0,0,0.05);
            border: none;

            input {
                //color: white;
            }

        }
    }

    .nav-right {
        flex: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 36px;

        i.alerts {
            color: $primary;
            margin: 0 36px;
        }
    }

    .nav-team .button-dropdown > button {
        padding: 0;
    }

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 250px;
    max-height: 300px;
    overflow-y: scroll;
    z-index: 1;
}

.dropdown.expanded .dropdown-content {
    display: block;
}
