@import 'styles/constants.scss';
@import 'styles/colors.scss';

.recipe-formula.add-formula {
	display: flex;

	.datatype.add-buttons {
		flex: 3;
		display: flex;
		text-align: left;
		cursor: pointer;

		i {
			line-height: 36px;
			vertical-align: middle;

			&.affirm {
				color: $green;
			}
		}
	}
}

.add-formula-section {
	display: flex;

	& > span {
		line-height: 36px;
	}

	.select-process {
		min-width: 200px;
		flex: 1;
	}
}

.recipe-formula.start-adding-formula {
	color: $primary;
	cursor: pointer;

	i {
		font-size: 20px;
		vertical-align: middle;
		margin-right: 8px;
	}

	span {
		vertical-align: middle;
	}
}