@import 'styles/constants.scss';

.recipe-formula {
	padding: 10px 16px;
	display: flex;

	.lhs {
		flex: 5;
		margin-right: 16px;
		.name {
			font-weight: 700;
			color: rgba(0,0,0,0.95);
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	.comparator {
		flex: 1;
		text-align: center;
		margin-right: 16px;

		.Select--single > .Select-control .Select-value {
			padding-left: 0;
		}
	}

	.rhs {
		flex: 6;
		margin-right: 16px;
	}

	.datatype {
		flex: 2;
		color: $gray;
		text-align:right;
		margin-right: 24px;
	}

	.user {
		flex: 1;
		margin-right: -8px;
		div {
			vertical-align: middle;
		}
	}

	.delete {
		flex: 1;
		i {
			color: #e74c3c;
			line-height: 20px;
			font-size: 20px;
			vertical-align: middle;
			margin-left: 16px;
			cursor: pointer;
		}
	}

}
