@import 'styles/constants.scss';

.productpage {
	margin-left: 36px;
}

.productheader {
	display: flex;
	color: rgba(0,0,0,0.87);

	&>div {
		display: flex;
		flex-direction: column;
	}

	.product-code {
		font-size: 20px;
		line-height: 24px;
	}
}

.recipe {
	margin-top: 16px;

	.card {
		width: 500px;
	}

	.recipe-process-header {
		padding: 8px 16px;
		display: flex;
		span {
			flex: 1;
		}
	}

	.recipe-wrapper {
		padding: 16px;
	}
}

.recipe-formula {
	border: 1px solid $light-gray;
	border-radius: 4px;
	padding: 16px;
	display: flex;
	margin-bottom: 16px;

	&:last-child {
		margin-bottom: 0;
	}

	&>div {
		display: flex;
		flex-direction: column;
	}

	.lhs {
		flex: 3;
	}

	.rhs {
		flex: 5;
	}

	.lhs .name {
		font-weight: 700;
		color: rgba(0,0,0,0.95);
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.lhs .datatype {
		color: $gray;
		font-size: 12px;
		line-height: 14px;
		margin-top: 4px;
	}

	.rhs {

	}
}

.recipe-formula.add-formula {
	display: flex;
	flex-direction: column;

	.formula-inputs {
		display: flex;
		flex-direction: row;
	}

	div.formula-actions {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: flex-end;
	}
}

.add-formula-section {
	display: flex;

	& > span {
		line-height: 36px;
	}

	.select-process {
		min-width: 200px;
		flex: 1;
	}
}