@import 'styles/constants.scss';

.productpage {
	margin-left: 36px;

	.addsection-wrapper {
		display: flex;
		justify-content: center;
		margin-top: 16px;
	}

	.addsection {
		display: flex;
		min-width: 300px;
		align-items: center;

		& > div {
			flex: 1;
			margin-right: 8px;
		}

		& > span {
			margin-right: 8px;
		}

		& > i{
			cursor: pointer;
			color: $gray;
			&.active {
				color: $primary;
			}
		}
		
	}
}

.productheader {
	display: flex;
	color: rgba(0,0,0,0.87);

	.product-code {
		font-size: 20px;
		line-height: 24px;
	}

	.product-header-code-name {
		margin-top: 10px;
	}
}

.productpage .recipe-wrapper {
	display: flex;

	&>div {
		display: flex;
		flex-direction: column;
	}
}