@import 'styles/constants.scss';

.card {
	border-radius: 8px;
	box-shadow: $card-shadow;
	padding: 16px;
	overflow-x: hidden;
	background-color:white;

	.rule {
		background-color: $gray-light;
		height: 1px;
		margin: 16px;
		margin-bottom: 15px;
	}

	.cardrule-v2 {
		background-color: $gray-light;
		margin-left: -16px;
		width: calc(100% + 32px);
		height: 1px;
	}

	&.big {
		padding: 16px;
		border-radius: 8px;
		margin-right: 48px;

		.rule {
			margin: 32px;
			margin-bottom: 31px;
		}
	}

	&.nopadding {
		padding: 0px;

		.cardrule-v2 {
			margin-left: 0;
			width: 100%;
		}
	}
}

.icon {
	display: inline-block;
	background-color: $gray-light;

	border-radius: 16px;
	margin-right: 8px;

	span {
		color: white;
		font-size: 16px;
		line-height: 32px;
		text-align: center;
		display: block;
	}
}

.select-circle {
	width: 16px;
	padding-bottom: 16px;
	border: 1px solid $gray-light;
	border-radius: 16px;

	&.selected {
		border-color: $theme-color;
		background-color: $theme-color;
	}
}

body div.dialog-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	margin: 0 !important;
	padding: 0 !important;
	z-index: 999;

	.dialog-shim {
		position: fixed;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0,0,0,0.7);
		z-index: 997;
	}

	.dialog-card {
		max-width: 400px;
		width: 400px;
		position: fixed;
		top: 30%;
		left: 50%;
		transform: translateX(-50%) ;
		z-index: 999;
	}
}