@import 'styles/constants.scss';

.pin-button {
  display: inline-block;
  min-width: 156px;
  
  button {
    align-items: center;
  }
  
  .pin-content {
    display: flex;
    
    img {
      width: 24px;
      height: 24px;
      margin-top: -4px;
      margin-left: -4px;
    }
  }
  
  button.unpin {
    background-color: $gray-ultra-light;
    color: $gray-dark;
  }
}
