@import 'styles/constants.scss';

.production-trends {
    margin-bottom: 80px;

    .options {
        margin-bottom: 32px;
        padding-right: 18px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .select {
            width: 400px;
        }
    }

    .cumulatives {
        display: flex;
        margin-top: 32px;
    }

    .trends-title {
        font-size: 20px;
        line-height: 32px;
        color: white;
        padding: 12px 32px;
        background-color: $primary;
        -webkit-font-smoothing: antialased;
    }

    .trends-subtitle {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 11px;
        display: flex;
    }

    .help {
        display: flex;
        align-items: center;
        margin-left: 8px;
        position: relative;

        img {
            height: 20px;
        }

        &:hover .help-tooltip {
            display: block;
        }

        .help-tooltip {
            background-color: white;
            border: 1px solid $gray;
            border-radius: 4px;
            padding: 12px;
            line-height: 20px;
            display: none;
            font-size: 12px;
            width: 200px;
            position: absolute;
            bottom: 28px;
            right: -95px;
            z-index: 1000;
        }
    }
}