@import 'styles/constants.scss';

.production-trends {
    padding-top: 28px;
    margin-bottom: 80px;
    z-index: 0;
    max-width: 916px;

    .options {
        display: flex;
        justify-content: space-between;
        margin-left: 28px;

        img {
            margin-left: 16px;
            width: 24px;
        }
    }

    .production-trends-filters {
        display: flex;
        align-items: center;
    }

    .ant-select {
        width: 200px;
        margin-left: 8px;
    }

    .buttons {
        display: inline-flex;

        button {
            display: flex;
            padding: 0 8px;
            margin-left: 12px;
            height: 32px;
        }
    }

    .download {
        background-color: $gray-ultra-light;
        color: $gray-dark;
    }

    .every-month-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 18px;
        margin-bottom: 12px;
    }

    .cumulatives {
        display: flex;
        margin-top: 32px;
    }

    .step-chart-subtitle {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-right: 50px;
    }

    .activity-link {
        display: flex;
        color: $primary;

        i {
            font-size: 18px;
            margin-left: 8px;
        }
    }

    .trends-subtitle {
        font-size: 14px;
        margin-top: 4px;
        margin-left: 40px;
        display: flex;
        color: $black;
        -webkit-font-smoothing: antialiased;
    }

    .trends-content {
        margin-left: 36px;
        margin-top: 32px;
    }
}