@import 'styles/constants.scss';

.walkthrough-core-concepts {
	padding: 40px;
}

.core-concept-section {
	border: 1px solid #CAD0D5;
	border-radius: 4px;
	padding: 16px;
	text-align: center;
	margin-bottom: 36px;
}