@import 'styles/constants.scss';

.walkthrough {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #F6F8F9;
	z-index: 999;

	&>div {
		margin: 40px auto;
	}

	div.card {
        padding: 0;
		max-width: 404px;
		box-shadow: rgba(0,0,0,0.08) 0 0 16px;
		margin: 0 auto;
	}

	&>img {
        height: 46px;
		margin: 20px auto 0;
		display: block;
	}

}

.walkthrough-form {
	.next-to {
		display: flex;

		&>div:first-child {
			padding-right: 20px;
		}
	}
}

.walkthrough-input {
	display: flex;
	flex-direction: column;

	input {
		border: 1px solid #DBE0E4;
		outline: none;
		padding: 8px;
		font-size: 14px;
		line-height: 20px;
		border-radius: 4px;
	}

	.title {
		margin-bottom: 4px;
		color: #A1A7AC;
	}
}

.walkthrough-button {
	font-size: 14px;
	line-height: 20px;
	padding: 16px;
	width: 100%;
}

.walkthrough-header {
	display: block;
	text-align: center;
	font-size: 17px;
	line-height: 24px;
	margin-bottom: 36px;
}

.walkthrough-hint {
	display: flex;
	background-color: #F0F5FA;
	color: rgba(0,0,0,0.3);
	border-radius: 4px;
	padding: 20px 50px;
	align-items: center;

	img {
		opacity: 0.3;
		margin-right: 8px;
	}

}

.walkthrough-container {
	padding: 40px;
}
