@import 'styles/constants.scss';

.walkthrough-processes-and-products {
    div.card {
    min-width: 700px;
    text-align: center;
    }
    .bold {
        font-weight: bold;
    }

    .core-parts {
        height: 75px;
        border: 1px solid #E6E9EC;
        padding: 15px 25px;
        margin-bottom: 25px;
        font-size: 17px;
        color: $gray;

        .bold {
            color: $black;
        }

        .see-examples {
            color: $primary;
            text-align: center;
            margin-top: 5px;
            font-size: 14px;
        }
    }

}
