$light: rgba(0,0,0,0.3);
$dark: rgba(0,0,0,0.4);

$primary: #0073F9; // #49A8F3;
$background-color: #FBFCFC;
$light-grey: #eee;
$shadow-0: 0 1px 4px rgba(0,0,0,0.03), 0 1px 3px rgba(0,0,0,0.06);
$shadow-1: 0 1px 4px rgba(0,0,0,0.08), 0 1px 3px rgba(0,0,0,0.12);
$shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$font-stack: "Camphor Pro", Nunito, Overpass, Proxima Nova, sans-serif;
$unit: 10px;

$section-border: 1px solid rgba(0,0,0,0.1);
$sidebar-width: 270px;
$navbar-height: 50px;

$z-index-navbar: 990;
$z-index-dialog: 991;
$z-index-edit-menu: 992;

div.activity.page.mini {
  background-color: white;
}

.log-header {
  color: $dark;
  border-bottom: 1px solid $dark;
  padding: 8px 0px;
  margin-top: 32px;
}

.logrow {
  display: flex;
  flex-direction: row;
  padding: 12px 0px;
  border-bottom: $section-border;
  cursor: pointer;

  span {
    line-height: 16px;
  }

  .first {
    flex: 0 auto;
    margin-right: 8px;
  }

  .second {
    flex: 1 auto;
    margin-right: 8px;
  }

  .third {
    flex: 0 auto; 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .icon-img {
    width: 16px;
  }

  .title {
    margin-right: 8px;
  }

  .header {
    margin-bottom: 8px;
  }

  .detail {
    font-size: 13px;
    color: #2F2F2F;
  }

  .count {
    color: $light;
  }

  .circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 3px;
    background-color: green;
    margin-right: 4px; 
    /* width and height can be anything, as long as they're equal */
  }

  .open {
    color: $light;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 0.1;

  }

}