

.filters {
	background-color: white;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	border: 1px solid rgba(0,0,0,0.1);

	.Select-placeholder {
		padding: 0;
	}

	&>div {
		flex: 2;
		border-left: 1px solid rgba(0,0,0,0.1);
		padding: 0px 8px;
	}

	&>div:first-child {
		flex: 3;
		border: none;
	}
}

.multiselect {

	i {
		font-size: 14px;
		line-height: 36px;
		vertical-align: middle;
		margin-left: 8px;
	}

	&>div {
		border-left: none;
	}
}




ul div.menuContentWrapper div.rdr-Days {
	white-space: normal;
}