.trouble {
	max-width: 500px;
	margin-left: 36px;
	margin-bottom: 36px;

	h6 {
		font-size: 14px;
		line-height: 24px;
	}

	p, li {
		font-size: 12px;
		line-height: 16px;
	}

	li {
		margin-bottom: 10px;
	}
}

div.labelPrinter {
	.stuff {
		max-width: 300px;
		margin-left: 36px;
		box-shadow: $shadow-1;
		padding: 20px;
		background-color: white;
		overflow: hidden;
		border-radius: 4px;
	}

	input {
		line-height: 34px;
		font-size: 15.2px;

		&:focus {
			outline: none;
		}
	}

	input, .multiselect, .select {
		margin-top: 4px;
		margin-bottom: 16px;
	}

	.inputLabel {
		font-size: 13px;
		color: rgba(0, 0, 0, 0.6);
	}

	.marginer {
		h2 {
			text-align: center;
			line-height: 48px;
			font-weight: bold;
			font-size: 18px;
		}
	}

	button {
		padding: 12px 16px;
		color: white;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 14px;
		margin: 4px 2px;
		cursor: pointer;
		border: none;
		border-radius: 4px;
		background-color: $primary;
		width: 100%;
		font-family: "Apercu", "Interface", "Helvetica";
	}

	.regularprint {
	  max-height: 1000px;
	}

	.small {
		max-height: 0;
		overflow: hidden;
		z-index: 997;
	}

	.reprint {
		margin: -20px;
		padding: 20px;
		background-color: white;
		z-index: 999;

		&:focus {
			outline: none;
		}
	}

	button.expandReprint {
		color: $primary;
		background-color: white;
		font-size: 13px;
		text-align: center;
		border: 1px solid $primary;
		border-radius: 4px;

		span {
			flex: 1;
		}

		i  {
			text-align: right;
			flex: 0;
			color: $primary;
			font-size: 13px;
			line-height: 16px;
			vertical-align: middle;
		}

		&.expanded i {
			visibility: inherit;
		}
	}
}

.labelSVG {
	background-color: white;
	font-family: 'Overpass', 'Overpass Mono';
}

#qrtest {
	width: 100%;

	img {
		margin: 40px auto;
		height: 60px;
	}
}

div#blocker, #canvastest {
	position: absolute;
	height: 300px;
	width: 500px;
	background-color: $light-grey;
	top: 0;
	left: 0
}

div#blocker, #canvastest {
	display: none;
}
