@import 'styles/constants.scss';

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


img:before {
  background-image: url(/dashboard/static/dashboard/img/default@3x.png);
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	//src: url(iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
	// /* Old file: url(iconfont/MaterialIcons-Regular.woff2) format('woff2'), */
	// /* load new file */
	// url(2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2'),
	// url(iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	font-family:'Material Icons';
	font-style: normal;
}


label {
	font-size: 12px;
	line-height: 16px;
	padding: 8px 8px 8px 0;
}

.Select-control {
	outline: none;
	border-radius: 4px;
	border: 1px solid $gray-light;
}

.Select-placeholder {
	padding-left: 8px;
	font-size: 14px;
}

