@import 'styles/constants.scss';

.create-process-dialog {
    
    .icon-name-abbreviation {
        display: flex;
        
        .icon-group {
            flex: 1;
        }
        
        .abbreviation-group {
            flex: 2;
            margin-left: 16px;
        }
        
        .name-group {
            flex: 4;
            margin-left: 16px;
        }
    }

    .output-quantity {
        display: flex;

        .number {
            flex: 1;
            margin-right: 20px;
        }

        .unit {
            flex: 4;
        }
    }
}

