@import 'styles/constants.scss';

.processes-container {
  width: calc(100vw - #{$nav-width});

}

div.processes {
  .code {
    flex: 4;
  }

  .name {
    flex: 8;
  }

  .owner {
    flex: 4;
  }

  .date {
    flex: 4;
  }


  div.card {
    max-width: 600px;
  }
}

