@import 'styles/constants.scss';

.icon-img {
	width: 25px;

}

.process-options {
	top: -6px;
	left: 5px;
	position: absolute;
	color: $elephant;
	font-size: 18px;
}

.more-options-button {
	align-self: center;
	flex: 1;

	.button-dropdown > button {
		height: 24px;
        width: 24px;
		line-height: 24px;
		background-color: transparent;
		border: 1px solid $elephant;
		position: relative;
	}
}