@import 'styles/constants.scss';

.process-list-item {
  padding: 0 16px;
  display:flex;
  flex-direction: row;
  line-height: 39px; // idk why its not doing border-box sizing
  cursor: pointer;

  &.process-list-header {
    color: rgba(0,0,0,0.3);
    font-size: 11px;

    .process-list-select-circle {
      visibility: hidden;
    }
  }


  // selected list item should be blue
  &.process-selected {
    color: $theme-color;
    background-color: #DEEDFE;
  }

  .process-list-select-circle {
    flex: 1;

    // make our select box centered in the line
    display:flex;
    align-items: center;
    margin-right: 8px;

    img {
      height: 16px;
      width: 16px;
    }
  }

  .process-list-code {
    flex: 3;
    text-overflow: ellipsis;
    font-weight: 700;
  }

  .process-list-name {
    flex: 8;
  }

  .process-list-unit {
    flex: 3;
  }
}

