@import 'styles/constants.scss';

.processes-container {
  width: calc(100vw - #{$nav-width});

}

div.processes {
  .code {
    flex: 2;
  }

  .name {
    flex: 4;
  }

  .owner {
    flex: 3;
  }

  .date {
    flex: 4;
  }

  .icon {
    flex: 1;
    background-color: transparent;
  }

  .description {
    flex: 4;
  }

  .default-amount {
    flex: 4;
  }

  .last-used {
    flex: 3;
  }

  .create-button {
    flex: 1;
  }


  div.card {
    max-width: 600px;
  }
}

