@import 'styles/constants.scss';

.app-section-header {
    font-size: 20px;
    height: $section-header-height;
    line-height: $section-header-height;
    color: white;
    padding: 0 36px;
    background-color: $primary;
    -webkit-font-smoothing: antialiased;

    .button {
    	margin: 0 auto;
	    background-color: white;
		color: $primary;
		float: right;
		font-size: 15px;
		margin-top: $section-header-height/2 - 18;
    }
}

.header-button {    
    margin: 0 auto;
    background-color: white;
	color: $primary;
	float: right;
	font-size: 15px;
	margin-top: $section-header-height/2 - 18;
}
    