@import 'styles/constants.scss';

.cumulative-area-chart {
    position: relative;

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        //display: none;
    }

    .area {
        stroke: $gray-dark;
        stroke-width: 1.5px;
        fill: $gray-light;
        opacity: 0.5;
    }

    .y-axis-label {
        font-size: 12px;
    }

    .overlay {
        fill: none;
        pointer-events: all;
    }

    .data-circle {
        stroke: $gray-dark;
        fill: $gray-dark;
        stroke-width: 2px;
    }

    .grid line {
        stroke: $elephant-light;
        stroke-opacity: 0.7;
        shape-rendering: crispEdges;
    }

    .grid path {
        stroke-width: 0;
    }

    .hover-line {
        stroke: $black;
        stroke-width: 2px;
        // stroke-dasharray: 3, 3;
    }

    .hover-circle {
        stroke: $black;
    }

}