@import 'styles/constants.scss';
@import './processattributefield.scss';

.process-attribute {
	display: flex;

	div, .process-attr-name {
		flex: 1;
	}

	.process-attr-name {
		color: $gray-dark;
	}
}

.process-attr-selected, .process-attribute-new  {
		display: flex;
		flex-direction: column;
		margin-right: 32px;

		& > div.process-attr-inputs {
			display: flex;
			flex-direction: row;

			& > div {
				flex: 1;
			}
		}
	}