@import 'styles/constants.scss';

.task-form {
    max-width: 636px;

    .form-label {
        color: $elephant;
        margin-bottom: 8px;
    }

    .attribute-field {
        margin-bottom: 36px;
    }

    .boolean-container {
        display: flex;
        align-items: center;
        height: 38px;
        margin-left: 24px;

        .switch {
            height: 16px;
            margin-left: 20px;
        }
    }

    .input-container {
        width: 600px;
        position: relative;
    }

    .input-container input {
        &.attr-error {
            border-color: $red;
        }
    }

    .form-buttons {
        display: none;
        position: absolute;
        top: 6px;
        right: 0;
    }
}
