@import 'styles/constants.scss';

.task-recurrent-attribute {
    .log {
        display: flex;
        justify-content: space-between;
        width: 100%;
        
        & > div {
            flex: 1;
        }
        
        .time {
            text-align: right;
            color: $gray-light;
        }
    }
    
}

