@import 'styles/constants.scss';
$container-width: $task-form-width - $peripherals-width; // This is the width of the attribute input boxes

.task-main {
    flex-grow: 1;
    padding: $task-page-top-padding 40px 40px;

    .last-updated {
        color: $elephant;
        margin-bottom: 20px;
    }

    .task-name {
        margin-bottom: 40px;
        color: black;

        .name-row {
            display: flex;
            align-items: center;
        }

        img {
            height: 32px;
            margin-right: 8px;
        }

        .name {
            font-size: 20px;
            margin-right: 12px;
        }

        i {
            font-size: 16px;
            color: $gray;
            margin-right: 8px;
            vertical-align: middle;
        }

        .default-output {
            font-size: 16px;
        }
    }

    .task-info {
        width: 400px;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;

        .group {
            width: 130px;
            margin-bottom: 40px;
            flex-shrink: 0;
        }

        .label {
            color: $elephant;
            margin-bottom: 12px;
        }

        .value {
            color: $gray-dark;
        }

    }
	
		.task-main-container > .card {
			margin-left: -4px;
			margin-bottom: 26px;
			min-width: $container-width;
			max-width: $container-width;
		}
    
    .task-cogs {
        display: flex;
        flex-direction: column;
        
        .task-cogs-row {
            display: flex;
            flex-direction: row;
            align-items: center;
	
						div.info {
							display: flex;
							flex-direction: row;
							min-width: $container-width - $peripherals-width;
							max-width: $container-width - $peripherals-width;
							
							align-items: center;
							margin-bottom: 6px;
							margin-top: 6px;
							
							div {
								flex: 1;
							}
							
							div.ant-input-number {
								margin-left: -20px;
							}
						}
        }
    }
}
