@import 'styles/constants.scss';

.task-header {
    height: $section-header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 36px;
    background-color: $primary;
    -webkit-font-smoothing: antialiased;

    &.flagged {
        background-color: $red;

        .header-button {
            color: $red;
        }
    }

    &.ancestor_is_flagged {
        background-color: $orange;
    }

    .title {
        display: flex;
        align-items: center;
        font-size: 20px;

        i {
            cursor: pointer;
            margin-right: 8px;
            opacity: 0.5;
        }
    }

    .task-ancestor-flag {
        display: flex;
        align-items: center;
        i {
            font-size: 20px;
            margin-right: 8px;
        }
    }

    .header-button {
        background-color: white;
        color: $primary;
        font-size: 15px;
    }

    .flagged-ancestors-review {
        border-bottom: 1px dashed white;
        cursor: pointer;
    }

}
