@import 'styles/constants.scss';

.in-progress-list-container {

    .inv-row {
        display: flex;
        min-height: 48px;
        line-height: 48px;
        border-bottom: 1px solid $gray-ultra-light;
        padding: 0 36px;
        cursor: pointer;

        &.selected-inv-row {
            border-bottom: 1px solid rgba(0, 0, 0, 0);
            box-shadow: 0px 2px 4px 0px $gray-ultra-light;
            background-color: white;
            font-weight: 500;
        }
    }

    .inv-icon {
        flex: 1;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            max-width: 100%;
        }
    }

    .inv-col {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .inv-product {
        flex: 3;
    }

    .inv-category {
        flex: 3;
    }

    .inv-in-stock{
        flex: 4;
    }

    .inv-can-make{
        flex: 4;
    }
}