@import 'styles/constants.scss';

.production-planning-container {
	width: calc(100vw - #{$nav-width});
	height: fit-content;

	.production-planning-body {
		display: flex;
		flex-direction: row;

		.production-planning-content {
			flex: 3.5;
			padding: 30px 50px;
		
			.selections {
				flex: 1;
				display: flex;
				flex-direction: row;
			}

			.work-in-progress-list-container {
				padding: 22px;
				background-color: white;
				box-shadow: $shadow-2;
			}

			.content-title {
				font-weight: bold;
				margin-bottom: 22px;
			}

			.object-list-header {
				border-top: none;
				padding: 0 36px 0 36px;
			}

			.object-list-item {
				padding: 0 36px 0 36px;
			}
		}
	}
}