@import '../../../styles/constants.scss';

.form-group {
    label {
        font-size: 14px;
        color: $elephant;
        margin-bottom: 8px;
        -webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
    }

    .form-field {
        display:flex;
        margin: 8px 0 24px;
    }
    
    .ant-select-selection__placeholder {
        font-size: 14px;
        font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

