@import 'styles/constants.scss';

input.input {
	display: inline-block;
	width: 100%;
	height: 36px;
	font-family: Apercu;
	font-size: 14px;
	padding-left: 8px;

	&::placeholder {
		color: $gray;
	}
}
