@import 'styles/constants.scss';

input.input {
	width: 100%;
	border: 1px solid $elephant-light;
	border-radius: 4px;
  color: $black;
	font-family: Apercu;
	font-size: 14px;
	padding: 8px;
	line-height: 20px;
	outline: none;

	&:focus {
		border-color: $theme-color;
	}

	&::placeholder {
		color: $elephant;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
