@import './select.scss';

.input-medium-gray {
	background-color: $medium-light-gray;
	border: 0;
	outline: 0;
	border-radius: 4px;
	padding: 8px;
	line-height: 20px;
	font-size: 14px;
	font-family: 'Apercu';
}