@import 'styles/constants.scss';

$medium-light-gray: rgba(0,0,0,0.11);

div.select-medium-gray {
	.Select-control {
		border: none;
		background-color: $medium-light-gray;
	}

	.Select-placeholder {
		color: $gray;
	}

	div.Select.is-focused > div.Select-control {
		background-color: $medium-light-gray !important;
		border: none;
		box-shadow: none;
		//color: rgba(255,255,255, 0.7) !important;
	}
}