@import 'styles/constants.scss';

div.select-gray {
	.Select-control {
		border: none;
		background-color: $gray-light;
	}

	.Select-placeholder {
		color: $gray;
	}

	div.Select.is-focused > div.Select-control {
		background-color: $gray-light !important;
		border: none;
		box-shadow: none;
		//color: rgba(255,255,255, 0.7) !important;
	}
}