@import 'styles/constants.scss';

.archive-dialog {
	h1 {
		margin-bottom: 8px;
	}
	line-height: 18px;
}

.archive-rule {
	margin: 16px;
	margin-bottom: 16px;
	background-color: $gray-light;
	height: 1px;
}

.archive-actions {
	display:flex;
	flex-direction: row;
	justify-content: flex-end;

	button {
		margin-left: 16px;
	}
}