@import 'styles/constants.scss';

.archive-dialog {
	.archive-dialog-header {
		display: flex;
		span {
			flex: 1;
			color: $gray-dark;
		}

		i {
			font-size: 16px;
			color: $gray-light;

		}
	}

	.emphasized {
		font-weight: 700;
	}
}

.archive-rule {
	background-color: $gray-ultra-light;
	height: 1px;
	margin-top: 12px;
	margin-bottom: 12px;
}

.archive-actions {
	display:flex;
	flex-direction: row;
	margin-top: 24px;

	button {
		flex: 1;
	}
}