@import 'styles/constants.scss';

// .login {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	padding-bottom: 100px;
// 	background-color: #F6F8F9;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;

	.login-box form {
		display: flex;
		flex-direction: column;
		align-items: center;

		&>input, &>button, &>span {
			margin: 10px;
		}

		input {
			border: 1px solid #DBE0E4;
			border-radius: 4px;
			width: 300px;
			color: rgba(0,0,0,0.68);
			padding: 8px;
			font-size: 14px;
			line-height: 20px;
			outline: none;

			&:focus {
				border-color: $theme-color;
			}

			&::placeholder {
				//color: rgba(255,255,255,0.31);
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}

			&::-webkit-input-placeholder, &::-moz-placeholder, 
			&:-ms-input-placeholder, &:-moz-placeholder {
				//color: rgba(255,255,255,0.3);
			}
		}

		button {
			background-color: #2588FF;
			height: 36px;
			color: white;
			font-size: 14px;
		}
	}

	.failMessage {
		color: $red;
		max-width: 300px;
		display: block;
	}

