@import 'styles/constants.scss';

.inventory2-container {
	width: calc(100vw - #{$nav-width});
}

.inventory2-content {
	display: flex;

	.inventory-list-container {
		flex: 11;
	}

	.inventory-drawer-container {
		flex: 5;
	}
}