@import 'styles/constants.scss';

.inv-row {
	display: flex;
	min-height: 48px;
	line-height: 48px;
	border-bottom: 1px solid $gray-ultra-light;
	padding-left: 36px;
	cursor: pointer;

	&.selected-inv-row {
		color: white;
		background-color: $primary-light;
		-webkit-font-smoothing: antialiased;
	}

	.inv-col {
		margin: 0 4px;
		flex: 1;

		&.inv-icon {
			flex: 0;
			margin: 12px 4px 12px 0;

			.icon-circ {
				height: 24px;
				width: 24px;
				border-radius: 12px;
				background-color: white;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}