@import 'styles/constants.scss';

.inventory2-container {
	width: calc(100vw - #{$nav-width});
	position: relative;

	.inventory-filters {
		position: absolute;
		top: $section-header-height + 8px;
		left: 36px;
	}

	.select {
		width: 200px;
        display: inline-block;
		margin-right: 32px;
	}

	.no-items {
		margin: 36px;
	}
}

.inventory2-content {
	display: flex;
	height: calc(100% - #{$section-header-height});

	.inventory-list-container {
		flex: 11;
		margin-top: 20px;
	}

	.inventory-drawer-container {
        width: 368px;
	}
}