@import 'styles/constants.scss';

.inventory2-container {
	width: calc(100vw - #{$nav-width});

	.inventory-filters {
		display: flex;
        margin-left: 36px;
		margin-top: 20px;
		margin-bottom: -32px;
	}

	.select {
		width: 400px;
        display: inline-block;
		margin-right: 32px;
	}

	.no-items {
		margin: 36px;
	}
}

.inventory2-content {
	display: flex;
	height: calc(100% - #{$section-header-height});

	.inventory-list-container {
		flex: 11;
		margin-top: 20px;
	}

	.inventory-drawer-container {
        width: 368px;
	}
}