.account-menu {
	min-width: 180px;
	line-height: 16px;
	z-index: 1;

	.account-menu-section-title {
		color: rgba(0,0,0,0.3);
		font-size: 11px;
		display: block;
		margin: 16px 16px 0 16px;
	}
} 

.account {
	display: flex;
	margin: 12px;
	cursor: pointer;

	span.name {
		display: block;
		font-size: 14px;
	}

	span.username {
		display: block;
		color: $theme-color;
	}
}

.current-account {
	div, span, i {
		vertical-align: middle;
	}

	.icon {
		margin-right: 8px;
	}

	span.name {
		color: #4f4f4f;
	}

	span.username {
		text-align: left;
	}
}

.nav-team {

	div.button-dropdown-content {
		top: 39px;
	}
}
