.activity-row {
	display: flex;
	padding: 8px;
	line-height: 16px;
	border-bottom: 1px solid rgba(0,0,0,0.07);
	color: rgba(0,0,0,0.69);

	.first {
		flex: 1;
	}

	.second {
		flex: 2;
	}

	.third {
		flex: 6;
	}

	.fourth {
		flex: 3;
	}

	.fifth {
		flex: 1;
	}

	&.header {
		color: rgba(0,0,0,0.52);
		font-size: 12px;
	}
}

.activity-follow {
	color: $primary;
	font-size: 12px;
	text-align: right;
	margin: 8px;
}