$alert-red: #F14A4A;
$alert-green: #3BD533;
$alert-yellow: #F8DE00;

.alerts .alert {
	&:last-child {
		margin-bottom: 0;
	}
}

.alert {
	// color: $alert-red;
	display: flex;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	line-height: 16px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	padding: 16px;

	i {
		color: $alert-red;

		&.positive {
			color: $alert-green;
		}

		&.warning {
			color: $alert-yellow;
		}
	}

	&:first-child {
		border-top: 1px solid rgba(0,0,0,0.05);
	}

	.alert-content {
		flex: 1;
	}

	.alert-circle {
		font-size: 20px;
		margin-right: 8px;
		vertical-align: bottom;
		flex: 0;
	}

	.alert-close {
		visibility: hidden;
		font-size: 16px;
		color: #bdbdbd;
		flex: 0;
	}

	&:hover {
		.alert-close {
			visibility: visible;
		}
	}

	.alert-actions {
		margin-top: 4px;
	}

	.alert-link {
		color: rgba(0,0,0,0.52);
		border-bottom: none;
		font-size: 13px;
		line-height: 16px;
	}

	&.empty-state {
		border-bottom: none;
	}
}

.alert-flagged-task-title {
	font-family: 'Apercu Mono';
	color: rgba(0,0,0,0.52);
	line-height: 16px;
	display: flex;

	div {
		display: inline-block;
		width: 16px;
		height: 16px;
		background-color: white;
		border: 1px solid rgba(0,0,0,0.05);
		border-radius: 8px;
		vertical-align: bottom;
	}

	span {
		margin-top: 4px;
		display: inline-block;
		border-bottom: none; // 1px dashed rgba(0,0,0,0.3);
		font-size: 13px;
	}

	i {
		display: none;
		margin-left: 4px;
		font-size: 14px;
		line-height: 16px;
		color: rgba(0,0,0,0.52);
		vertical-align: bottom;
	}

	&:hover {
		i {
			display: inline-block;
		}
	}
}
