.card-header {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.7px;
	color: #4f4f4f;
	padding-top: 3px;
	padding-bottom: 4px;
	text-transform: uppercase;
}

.goals {
	font-size: 14px;
	line-height: 16px;
	color: black;

	.goal-header button {
		margin: 0;
		padding: 0;
		font-family: "Apercu", "Interface", "Helvetica";
		font-size: 14px;
	}

	.goals-bottom-bar {
		padding-top: 12px;
		padding-bottom: 8px;
		display: flex;
		width: 100%;
		background-color: #fafafa;

		span {
			font-size: 14px;
			line-height: 19px;
			padding-top: 3px;
			padding-bottom: 4px;
		}

		.left {
			flex: 1;
			margin-left: 16px;
		}

		.right {
			white-space: nowrap;
			flex: 0;

			button {
				color: $theme-color;
				background-color: rgba(255,255,255,0);
				text-transform:uppercase;
				font-weight: 600;
				font-size: 12px;
				line-height: 14px;
				letter-spacing: 5%;
				padding-top: 5px;
				padding-bottom: 4px;
				-webkit-font-smoothing: antialiased;
			}
		}
	}

	.goal {
		padding: 16px;
		margin-top: 16px;
		border-top: 1px solid rgba(0,0,0,0.05);
		margin-left: -16px;
		margin-right: -16px;
		display: flex;

		.remove-goal {
			display: flex;
			flex-direction: column;
			vertical-align: middle;
			line-height: 16px;
			padding-top: 3px;
			flex : 0;
			padding-right: 16px;
			cursor: pointer;
			
			&>i:first-child {
				color: rgba(0,0,0,0.1);
				margin-bottom: 4px;
			}

			&>i:last-child {
				color: #e74c3c;
				line-height: 28px;
			}
		}

		.goal-main {
			flex: 1;
		}

		span.more {
			font-size: 10px;
			color: $primary;
			padding-left: 4px;
		}

		.goal-details {
			display: flex;

			button {
				padding: 0;
				display:inline-block;
				i {
					font-size: 14px;
					line-height: 14px;
					vertical-align: top;
					padding-top: 0px;
				}
				visibility: hidden;
			}

			.goal-details-left {
				flex: 1;	
				padding-top: 3px;
				padding-bottom: 2px;

				span {
					display:inline-block;
					font-size: 14px;
					line-height: 16px;
					margin-top: 3px;
				}
			}


			.goal-details-right {
				font-size:14px;
				line-height: 16px;
				letter-spacing: 5%;
				text-transform: uppercase;
				padding-top: 5px;
				padding-bottom: 2px;
				color: #828282;
				vertical-align: middle;

				.blue {
					color: $theme-color;
				}
			}

		}

		&:hover {
			button {
				visibility: visible;
			}
		}

		.goal-whole-bar {
			display: flex;
			height: 28px;
			margin-top: 8px;
			margin-bottom: 4px;
			background-color: rgba(0,0,0,0.1);
			border-radius: 4px;
			text-align: right;

			span {
				padding-right: 8px;
			}
		}

		.goal-filled-bar {
			background-color: $theme-color;
			background: linear-gradient(to left, #2087F1 , #0E4FDF);
			color: rgba(255,255,255,0.5);
			border-radius: 4px 0 0 4px;
		}

		&:hover {
			.goal-details-right {
				visibility: visible;
			}

			.goal-filled-bar {
				background-color: $dark-theme-color;
			}
		}
	}
}

.goal-section {
	&:not(:first-child) {
		margin-top: 40px;
	}
}