input, select {
	font-family: $sans-stack;
	font-size: 14px;
	line-height: 20px;
	height: 30px;
	border: 1px solid $light-gray;
	border-radius: 4px;
	padding: 4px;
	outline: none;
	background-color: white;

	&:focus {
		border-color: $theme-color !important;
	}

	&::-webkit-input-placeholder {
		color: rgba(0,0,0,0.3);
	}
}

label {
	font-size: 12px;
	line-height: 16px;
	padding: 8px 8px 8px 0;
}

textarea {
	border: 1px solid $light-gray;
	border-radius: 4px;
	padding: 8px;
	resize: none;
}

.Select-control {
	outline: none;
	border-radius: 4px;
	border: 1px solid $light-gray;
}

.Select-placeholder {
	padding-left: 8px;
	font-size: 14px;
}