input {
	font-family: $sans-stack;
	font-size: 12px;
	line-height: 16px;
	border: 1px solid $light-gray;
	border-radius: 4px;
	height:32px;
	padding: 0px 8px;
	outline: none;

	&:focus {
		border-color: $theme-color !important;
	}

	&::-webkit-input-placeholder {
		color: rgba(0,0,0,0.3);
	}
}

label {
	font-size: 12px;
	line-height: 16px;
	padding: 8px 8px 8px 0;
}