.inventory {

	.inventory-header {
		display: flex;
		padding-left: 36px;

		h2, div {
			flex: 1;
		}

		h2 {
			font-size: 20px;
			line-height: 32px;
			padding: 6px 0 9px 0;
		}
	}

	.rule {
		height: 1px;
		background-color: rgba(0,0,0,0.1);
	}

	.halves {
		display: flex;
		background-color:white;
	}

	.fixed {
		position: fixed;
		flex: 1;
		padding-right: 30em;
		width: 100%;
		top: 0;
		left: 0;
		padding-left: $nav-width;
	}

	.inventory-list {
    flex: 1;

    &.list-padded {
    	padding-top: 32px;
    }

    h2 {
      font-size: 20px;
    }

    &.smallDetail {
      max-height: 100vh;
      overflow: scroll;
    }
  }

  .inventory-detail {
    flex: 0 0 30em;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    min-height: 100vh;
    max-height: 100vh;
    border-left: 1px solid rgba(0,0,0,0.08);
    transition: flex 0.3s;

    &.smallDetail {
      flex: 0 0 0.001px;
      div {
        display: none
      }
    }

    .i-detail-header {
      background-color: white;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      padding: 16px;
      border-left: 4px solid #43A6F6;
      flex: 0;

      .i-detail-outputdesc {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 12px;
        text-transform: capitalize;
      }

      .i-detail-count {
        color: rgba(0,0,0,0.4);
      }
    }

    .i-detail-content {
      flex: 1;
      padding: 0 16px;
      margin: 8px 0px;
      overflow: scroll;

      .task-title {
        font-weight: bold;
        padding-bottom: 4px;
        display: flex;
        flex-direction: row;

        a {
          flex: 1;
        }

        button {
          border: 0;
          background-color: rgba(0,0,0,0);
          color: $primary;
        }
      }

      .inventory-task {
        margin: 0px -16px;
        padding: 16px;
        border-bottom: 1px solid rgba(0,0,0,0.05);
      }

      .item {
        display: flex;
        flex-direction: row;

        .item-img {
          height: 12px;
          width: 12px;
          display: inline-block;

          img {
            height: 12px;
          }
        }

        &>div>div {
          vertical-align: middle;
          display: inline-block;
          margin-right: 8px;

          span {
            padding-right: 8px;
          }

          .item-qr {
            text-transform: uppercase;
            font-size: 12px;
            color: rgba(0,0,0,0.4)
          }
        }

      }

    }

    .i-detail-footer {
      flex: 0;
      height: 48px;

      button {
        height: 100%;
        width: 100%;
        font-size: 16px;
        font-family: $font-stack;
        background-color: #43A6F6;
        color: white;
        border: none;
      }
    }
  }

  a, a:hover, a:visited, a:-webkit-any-link {
    text-decoration: none;
    color: rgba(0,0,0,0.64);
  }

  .inventoryClass {
    display: flex; 
    border-bottom: 1px solid rgba(0,0,0,0.08);
    padding: 16px 0 15px 16px;
    margin-left: 20px;
    cursor: pointer;
    background-color: white;


    &.inventoryClass-header {
    	font-family: 'Apercu Mono';
    	padding: 8px 0 7px 16px;
      color: rgba(0,0,0,0.4);
      font-size: 10px;
      line-height: 16px;
      text-transform: uppercase;
      border-bottom: 1px solid rgba(0,0,0,0.08);
    }

    &>div {
      padding-right: 48px; //gutter
      white-space: nowrap;
      overflow: ellipsis;

    }


    .i-icon {
    	flex: 0 0 16px;
    	img {
    		height: 16px;
    		vertical-align: middle;
    	}
    }

    .i-code {
    	font-family: 'Apercu Mono';
    	flex: 2;
    }


    .i-outputdesc {
      flex: 4;
    }
    
    .i-count {
    	font-family: 'Apercu Mono';
      flex: 1;
      text-align: right;
    }

    .i-unit {
      flex: 2;
    }

    .i-date {
      flex: 1;
      text-align: right;
    }
  }

  .inventoryClass:hover {
    background-color: rgba(5,5,10,0.02);
  }

  .inventoryClass.selected {
    color: #43A6F6;
    font-weight: bold;
  }

}

.unflex {
  flex: 0;
}

.flex {
  flex: 1
}

div.zero-state {
  background-color: rgba(0,0,0,0.05);
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  color: rgba(0,0,0,0.3);

  &.zero-state-clean {
    background-color: white;
  }
}

.page {
    &.mini {
    background-color: white;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.05);
    //box-shadow: $shadow-0;

    &:first-child {
      margin-top: 0px;
    }

     div.content {
      padding: 20px 16px;
    }
  }
}

.page .page-header {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin-bottom: 20px;

    h2 {
      flex: 1;
      font-size: 16px;
    }

    .filters {
      flex: 0;
      flex-basis: 300px;
    }
  }