.login {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $theme-color;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	.login-box form {
		display: flex;
		flex-direction: column;
		color: white;

		&>input, &>button, &>span {
			color: white;
			margin: 10px;
		}

		input {
			background-color: $dark-theme-color;
			border: 0px;
			width: 200px;
			color: white;
			padding-left: 8px;

			&::placeholder {
				color: rgba(255,255,255,0.31);
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}

			&::-webkit-input-placeholder, &::-moz-placeholder, 
			&:-ms-input-placeholder, &:-moz-placeholder {
				color: rgba(255,255,255,0.3);
			}
		}

		button {
			background-color: #2588FF;
		}
	}
}

