.navbar {
	background-color: $background-color;
	min-width: 64px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	border-right: 1px solid $gray;


	// text
	color: white;

	ul {
		list-style-type: none;
		padding: 0px;

	}
}