.d-nav {
	z-index: 1;
	background-color: #373A3D;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: $nav-width;
	display: flex;
	flex-direction: column;

	color: rgba(255,255,255, 0.4);
	font-size: 13px;
	line-height: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	.nav-group {
		border-bottom: 1px solid rgba(39,43,46,0.5);
		padding-left: 16px;

		span {
			text-transform: uppercase;
			font-family: "Apercu Mono";
			font-size: 10px;
			display: block;
			padding: 16px 0;
			color: rgba(255,255,255,0.2);
		}

		li {
			margin-bottom: 16px;

			.nav-icon {
				height: 16px;
				vertical-align: top;
				opacity: 0.4;
				margin-right: 8px;
			}

			// make room for that border
			&:last-child {
				margin-bottom: 15px;
			}

			a.active {
				color: rgba(255,255,255,0.9);
				img {
					opacity: 1;
				}
			}
		}

	}

	.logo {
		background-color: #272B2E;
		margin-bottom: 16px;
		height: 128px;
	}
}

.d-top {
	display: flex;
	min-height: 128px;
	align-items: center;
	
	.nav-left {
		flex: 1;
		flex-grow: 1;
		margin: 0px 36px;

		.Select-control {
			border: none;
		}

		.filters {
			max-width: 900px;
		}
	}

	.nav-team {
		margin: 0 36px;
	}
}

div .bar { 
	flex: 1;
}

.nav-feedback {
	flex: 0;
	align-items: flex-end;
	margin: 16px;
	font-size: 12px;
	line-height: 18px;
	span { 
		display: block; 
	}
	
	a {
		text-decoration: underline;
	}
}

