.nav-section {
	display: flex;
	flex-direction:row;
	flex: 1;

	&>div {
	margin: 0px 48px;
	flex: 3;

		&:first-child {
			flex: 1;
		}
	
		&>.card {
			height: 100%;
			max-width: 700px;
		}

		&:last-child {
			margin:0px;
		}
	}

	.nav-section-header {
		display: flex;
		flex-direction: row;
		margin-bottom: 32px;

		h1 {
			flex-grow: 1;
		}
	}

	.nav-section-list {
		.card {
			padding: 0;
			
		}
	}
}