.nav-section {
	display: flex;
	flex-direction:row;
	flex-grow: 100;
	margin-bottom: 150px;

	&>div {
	margin: 0px 80px 0px 64px;
	flex: 7;

		&>.card {
			height: 100%;
		}

		&:last-child {
			margin:0px;
		}
	}

	.nav-section-header {
		display: flex;
		flex-direction: row;
		margin-bottom: 32px;

		h1 {
			flex-grow: 1;
		}
	}

	.nav-section-list {
		margin-top: 32px;
	}
}