.attribute-header {
	display: flex;

	h2 {
		flex: 1;
	}

	button {
		flex: 0;
		white-space: nowrap;
		color: $primary;
		background-color: white;
		padding: 0;
		margin: 0;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 8px;
	}
}

.process-attribute {
	cursor: default;
	border: 1px solid $light-gray;
	border-radius: 4px;
	margin-bottom: 16px;
	padding: 16px;

	.stack-vertical {
		display: flex;
		flex-direction: row;
	}

	.stack-horizontal {
		display: flex;
		flex-direction: column;
	}

	div {
		flex: 1;
	}

	.drag-handle, .process-attribute-more {
		flex: 0;
		flex-basis: content;
		text-align: right;
		cursor: pointer;
		color: $red;
		img {
			width: 16px;
			opacity: 0.3;
		}
	}

	.process-attribute-row {
		display: flex;

		.process-attribute-field {
			flex: 2;
			&:last-child {
				flex: 2;
			}
		}
	}

	.buttons {
		display: flex;
		justify-content: flex-end;
	}
}

// handle new attribute stuff {
.process-attribute.new-attribute {
	color: $theme-color;
	border: none;

	i {
		color: $theme-color;
		margin-right: 4px;
	}
}