.products-archive-dialog {
	h1 {
		margin-bottom: 8px;
	}
	line-height: 18px;
}

.products-archive-rule {
	margin: 16px;
	margin-bottom: 16px;
	background-color: $light-gray;
	height: 1px;
}

.products-archive-actions {
	display:flex;
	flex-direction: row;
	justify-content: flex-end;

	button {
		margin-left: 16px;
	}
}