.products-list-item {
	padding: 0 16px;
	display:flex;
	flex-direction: row;
	line-height: 39px; // idk why its not doing border-box sizing
	cursor: pointer;
  
	&.products-list-header {
		color: rgba(0,0,0,0.3);
		font-size: 11px;

		.products-list-select-circle {
			visibility: hidden;
		}
	}


	// selected list item should be blue
	&.products-selected {
		color: $theme-color;
	}

	.products-list-select-circle {
		flex: 1;

		// make our select box centered in the line
		display:flex;
		align-items: center;
		margin-right: 8px;
	}

	.products-list-code {
		flex: 3;
		text-overflow: ellipsis;
		font-weight: 700;
	}

	.products-list-name {
		flex: 8;
	}

	.products-list-unit {
		flex: 3;
	}
}

.products-card-inventory {

	.products-card-inventory-item {
		display: flex;
		flex-direction: row;
		line-height: 38px;
		border-bottom: 1px solid $light-gray;
		cursor: pointer; 

		&>div {
			flex: 1;
		}

		&>div:last-child {
			text-align: right;
		}

	}

}

div.create-product-dialog {

	.create-product-error {
		color: #f9438e;
		line-height: 16px;
		display: block;
		margin-bottom: 12px;
	}

	.create-product-input {
		display: flex;
		flex-direction: row;
		margin-bottom: 12px;

		label {
			flex: 0;
		}

		input {
			flex: 1;
		}
	}

	.create-product-description {
		display: flex;
		flex-direction: column;
		text-align: left;
		margin-bottom: 12px;

		textarea {
			border: 1px solid $light-gray;
			border-radius: 4px;
			line-height: 16px;
			padding: 8px;
			outline: none;
			resize: none;

			&:focus {
				border-color: $theme-color;
			}
		}
	}
}