@import url('https://fonts.googleapis.com/css?family=Overpass+Mono|Overpass:400,700');

@import "oldstyles/styles";
@import "layout";
@import "navigation";
@import "headers";
@import "input";
@import "card";
@import "navsection";
@import "paginatedtable";
@import "buttondropdown";
@import "navbar";
@import "products";
@import "productscard";
@import "productsdialogs";
@import "processattribute";
@import "createprocessdialog";
@import "datepicker";
@import "menu";
@import "accounts";
@import "taskattribute";
@import "taskflag";
@import "login";
@import "inventory";