@import url('https://fonts.googleapis.com/css?family=Overpass+Mono|Overpass:400,700');

@import "oldstyles/styles";
@import "layout";
@import "navigation";
@import "headers";
@import "input";
@import "card";
@import "button";
@import "dialog";
@import "navsection";
@import "paginatedtable";
@import "buttondropdown";
@import "navbar";
@import "products";
@import "productscard";
@import "productsdialogs";
@import "processattribute";
@import "createprocessdialog";
@import "datepicker";
@import "menu";
@import "accounts";
@import "taskattribute";
@import "taskflag";
@import "login";
@import "inventory";
@import "goals";
@import "account";
@import "packingorders"; 

.lesmis {
	.links line {
	  stroke: #999;
	  stroke-opacity: 0.6;
	}

	.nodes circle {
	  stroke: #fff;
	  stroke-width: 1.5px;
	}
}