@import url('https://fonts.googleapis.com/css?family=Overpass+Mono|Overpass:400,700');

@import "oldstyles/styles";
@import "layout";
@import "navigation";
@import "headers";
@import "input";
@import "card";
@import "navsection";
@import "paginatedtable";
@import "buttondropdown";
@import "navbar";
@import "products";
@import "productscard";
@import "productsdialogs";
@import "processattribute";
@import "createprocessdialog";
@import "datepicker";
@import "menu";
@import "accounts";
@import "taskattribute";
@import "taskflag";
@import "login";
@import "inventory";
@import "goals";
@import "account";

.lesmis {
	.links line {
	  stroke: #999;
	  stroke-opacity: 0.6;
	}

	.nodes circle {
	  stroke: #fff;
	  stroke-width: 1.5px;
	}
}

// @font-face {
//   font-family: 'Material Icons';
//   font-style: normal;
//   font-weight: 400;
//   //src: url(iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
//   src: local('Material Icons'),
//        local('MaterialIcons-Regular'),
//        // /* Old file: url(iconfont/MaterialIcons-Regular.woff2) format('woff2'), */
//        // /* load new file */ 
//        // url(2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2'),
//        // url(iconfont/MaterialIcons-Regular.ttf) format('truetype');
// }

// .material-icons{
// 	font-family:'Material Icons';
// 	font-style: normal;
// }