.task-flag {
	background-color: #F06F6F;
	color: white;
	border-radius: 4px;
	line-height: 16px;
	font-size: 12px;
	padding: 8px 12px 8px 12px;
	display: flex;
	flex-direction: row;

	&>div {
		flex: 0;
	}

	&>div:first-child {
		flex: 1;
		flex-grow: 1;
	}

	.task-flag-unflag {
		color: rgba(255,255,255,0.7);
		cursor: pointer;
	}
}