@import 'styles/constants.scss';

.task-select {
    width: 100%;
    max-width: 900px;
    display: flex;
    background-color: $gray-light;

    i {
        line-height: 34px;
        font-size: 16px;
        padding: 0 8px;
        flex: 0 auto;
    }

    input {
        outline: none;
        border: none;
        font-size: 14px;
        line-height: 34px;
        flex: 1 auto;
    }

    .Select {
        width: 100%;
    }

    div.Select.is-focused > div.Select-control {
        background-color: rgba(0,0,0,0) !important;
        border: none;
        box-shadow: none;
    }

    .Select-control {
        border: none;
        background-color: rgba(0,0,0,0);
    }
}

