@import 'styles/constants.scss';

.products {


	.code {
		flex: 4;
	}

	.name {
		flex: 8;
	}

	.owner {
		flex: 4;
	}

	.date {
		flex: 4;
	}
}

.products-card-inventory {

	.products-card-inventory-item {
		display: flex;
		flex-direction: row;
		line-height: 38px;
		border-bottom: 1px solid $gray-light;
		cursor: pointer; 

		&>div {
			flex: 1;
		}

		&>div:last-child {
			text-align: right;
		}

	}

}

