@import 'styles/constants.scss';

div.product-filter {
  margin-left: 36px;
  max-width: 400px;
}

.products {
	width: 100%;


	.paginated-table.border-none li.header {
		border-bottom: none; //override PaginatedTable header border
	}

	.code {
		flex: 4;
	}

	.name {                
		flex: 8;
	}

	.owner {
		flex: 4;
	}

	.date {
		flex: 4;
	}

	.more-options-button {
		flex: 1;
	}
}

.products-card-inventory {

	.products-card-inventory-item {
		display: flex;
		flex-direction: row;
		line-height: 38px;
		border-bottom: 1px solid $gray-light;
		cursor: pointer; 

		&>div {
			flex: 1;
		}

		&>div:last-child {
			text-align: right;
		}

	}

}

.recipe-content {
	padding: 20px;
}

.recipe-content-text {
	padding-bottom: 20px;
}

.recipe-content-header {
	font-weight: bold;
	padding-bottom: 24px;
	font-size: 16px;
}

.learn-how {
	text-decoration: underline;
	font-size: 14px;
	font-weight: bold;
}