@import 'styles/constants.scss';

.dashboard {
	width: 100%;

	.dashboard-content {
		display: flex;
		justify-content: space-between;
	}

	div.panel {
		padding-top: 0;
		display: flex;
		width: $panel-width;
		position: absolute;
		top: $nav-height;
		bottom: 0;
		right: 0;
		margin-right: 0px;	
		padding-bottom: 0;
		margin-bottom: 0;
		box-shadow: $card-shadow;

		.little-header {
			margin-left: 16px; 
		}

		.alerts-container {
			flex: 2;
			background-color: $background-color;
			overflow-y: auto;
			display: flex;
			flex-direction: column;
		}
	}
}

.goals-card {
	flex: 1;
}

.updates {
	background-color: $primary;
	color: rgba(255,255,255,0.7);
	-webkit-font-smoothing: antialiased;
	margin-left: 36px;
	margin-bottom: 16px;

	a {
		color: white;
		border-bottom: 1px dotted white;
	}
}

.home-tabs {
	display: flex;
	color: $gray;
	border-bottom: 1px solid $gray-ultra-light;
	padding-left: 36px;


	.home-tab {
		padding: 8px 0;
		line-height: 20px;
		margin-right: 24px;
		cursor: pointer;

		&.active {
			color: $primary;
			border-bottom: 4px solid $primary;
			padding-bottom: 4px; // to account for the 4px decrease 
		}
	}
}