.process-icon-picker {
	display: flex;
	
	.icon {
		flex: 1;
		height: 30px;
		width: 30px;
	}
	
	.button-wide {
		flex: 3;
		min-width: 94px; // keeps button the same size between text change
		margin-top: 22px;
		margin-left: 12px;
	}
	
	// Hides the emoji-type navbar and focus footer which
	// displayed the name and icon of what you were hovering.
	.emoji-mart > div.emoji-mart-bar {
		display: none;
	}
	
	.picker-wrapper {
		flex: 5;
		margin-top: 22px;
		margin-left: 22px;
	}
}