.process-icon-picker-wrapper {
	position: relative;
	
	// Hides 1) the emoji-type navbar and focus footer which
	// displayed the name and icon of what you were hovering.
	// 2) The "Custom" category title,
	// 3) Emojis matching icon names
	.emoji-mart > div.emoji-mart-bar, div.emoji-mart-category-label, span.emoji-mart-emoji {
		display: none;
	}
	
	// Since we're hiding emojis who have the same name as an icon
	// we need to explicitly show icons ("custom" emojis)
	span.emoji-mart-emoji-custom {
		display: inline-block;
	}
	
	
	.picker-wrapper {
		position: absolute;
		left: 0px;
		top: 34px;
	}
	
	.process-icon-picker {
		display: flex;
		justify-content: center;
		align-items: center;
		
		height: 38px;
		width: 38px;
		
		border: 1px solid #cad0d5;
		border-radius: 4px;
		background-color: white;
		
		padding: 4px;
		
		.change-icon-icon {
			position: absolute;
			top: -5px;
			right: -5px;
			
			background-color: blue;
			color: white;
			
			border-radius: 50%;
			border: 2px;
			
			min-width: 16px;
			max-width: 16px;
			min-height: 16px;
			max-height: 16px;
			font-size: 16px;
		}
		.icon {
			flex: 1;
		}
	}
}