@import 'styles/constants.scss';

.process-page {
	width: 100%;

	.process-information {
		flex: 3;
	}
	.process-attributes {
		flex: 5;
	}
	
	.help-container {
		z-index: 1000000;
		position: fixed;
		bottom: 30px;
		right: 0px;
		margin-right: 24px;
		margin-bottom: 76px;
	}
	
	.help {
		background-color: $primary;
		margin-bottom: 24px;
		color: white;
		padding: 12px;
		border-radius: 8px;
		width: 400px;
		cursor: pointer;
	}
	
	.help-header {
		font-weight: bold;
		padding-bottom: 12px;
	}
	.help-link {
		font-weight: bold;
	}
	
}

.process-information {
	padding: 0 36px;
	background-color: $background-color;
	display: flex;
	flex-direction: column;
	margin-bottom: 60px;
	flex: 1;

	.process-basic-information-container {
		padding-bottom: 100px;
	}

	.process-information-basic {
		.piece-of-info {
			display: flex;
			flex-direction: column;
			padding: 12px 0;

			&>span:last-child {
				margin-top: 8px;
			}

			.no-description {
				color: $gray-light;
			}

			.emphasis {
				font-weight: 700;
			}
		}
	}
}

.process-attributes {
	background-color: white;
	padding-bottom: 400px; // Allows scroll space so Help Bubble doesn't hide attributes
}

