.edit-process-info {
    
    .icon-name-abbreviation {
        display: flex;
        
        .icon-group {
            flex: 1;
        }
        
        .abbreviation-group {
            flex: 2;
            margin-left: 16px;
        }
        
        .name-group {
            flex: 4;
            margin-left: 16px;
        }
    }
    
    .output-section-container {
        margin-top: 44px;
        margin-bottom: 80px;
    }
    
    .output-section-header {
        margin-bottom: 8px;
    }
    
    .output-quantity {
        display: flex;
        
        .number {
            flex: 1;
            margin-right: 20px;
        }
        
        .unit {
            flex: 2;
        }
    }
    
    .button-wide {
        flex: 1;
        width: 100%;
    }
}

