@import '../../../styles/constants.scss';

.process-attr-wrapper {
	display: flex;
	align-items: center;
	

}

.process-attribute {
	margin-left: 0px;
	box-shadow: rgba($gray-ultra-light, 0.1) 0 0 10px 0;
	
	.recipe-item-field {
		color: $gray-dark;
		display: flex;
		flex: 1;
		text-align: left;
	}
	
	img, i {
		height: 16px;
		margin-right: 4px;
	}
}

/* HOVER STUFF */
.process-attr-wrapper {
	.process-attribute:hover {
		box-shadow: rgba($gray-ultra-light, 0.2) 0 0 10px 0;
	}
}
