@import 'styles/constants.scss';

.product-recipe-list {
	padding: 24px 36px;
	width: 100%;

	.product-recipe-list-header {
		display: flex;

		& > span {
			flex: 1;
		}

		& > button {
			flex: 0;
			white-swpace: nowrap;
		}
	}

	.process-attr-list-header {
		font-weight: 700;
		display: flex;
		margin-left: 48px; // leave gutter for handle
		margin-right: 32px; // leave gutter for delete button
		padding: 8px 16px;

		& > span {
			flex: 1;
		}
	}	
}

	