@import '../../../styles/constants.css';

.recipe-create-header {
	display: flex;
	
	& > span {
		flex: 1;
	}
	
	& > button {
		flex: 0;
		white-space: nowrap;
		margin-right: 32px;
		
	}
}


.ingredient-list {
	margin-bottom: 16px;

	.add-ingredient-button {
		display: flex;
		i, span {
			font-size: 14px;
			line-height: 20px;
			vertical-align: middle;
		}
	}
}