@import '../../../styles/constants.scss';

.recipe {
	display: flex;
	.recipe-item-field {
		color: $gray-dark;
		display: flex;
		flex: 1;
		text-align: left;
	}
	
	img, i {
		height: 16px;
		margin-right: 4px;
	}
}

.recipe.create-recipe {
	flex-direction: column;
}
