@import '../../../styles/constants';

.recipe-create {
	background-color: red;
	.process-attributes-header {
		display: flex;
		
		& > span {
			flex: 1;
			//background-color: red;
		}
		
		& > button {
			flex: 10;
			white-space: nowrap;
			
		}
	}
}