@import 'styles/constants.scss';

.task-attribute {
	font-size: 12px;
	font-family: "Apercu Mono";
	border-bottom: 1px solid rgba(0,0,0,0.1);

	&.editor {
		display: flex;
		flex-direction: column;

		.attribute-content {
			height: 48px;
		}

		.task-attribute-edit-button {
			color: $theme-color;
			cursor: normal;
		}
	}
}


.attribute-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 40px;
	min-width: 320px;

	.task-attribute-edit-button {
		min-width: 32px;
	}

	i {
		font-size: 16px;
		line-height: 40px;
		margin: 8px;
		cursor: pointer;
	}

	& > .task-attribute-name {
		flex: 1;
		text-overflow: ellipsis;
		overflow: hidden;
    white-space: nowrap;
	}

	& > .task-attribute-value {
		flex: 1;
		text-align: right;
		justify-content: right;
		margin-right: 8px;

		&.empty {
			color: rgba(0,0,0, 0.2);
		}
	}

	input {
		text-align: right;
	}
}

.attribute-buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: top;
	margin-right: 40px;
	height: 32px;

	button {
		text-transform: uppercase;
		font-size: 10px;
		padding: 8px;
		line-height: 10px;
		border-radius: 4px;
		height: 26px;

	}
}

.task-attribute-test {
	margin-left: 150px;
	max-width: 300px;
}