@import 'styles/constants.scss';

.datepicker {
    .menuContentWrapper {
        min-width: 550px;
    }

    .secondary {
        padding: 0;
        width: 100%;
    }

    .dates {
        border-radius: 4px;
        color: rgba(0, 0, 0, 0.65);
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: white;
        border: 1px solid #d9d9d9;
        font-size: 12px;

        span, i {
            line-height: 30px;
            margin-left: 8px;
        }

        i {
            flex: 0;
            font-size: 20px;
        }

        vertical-align: middle;
    }
}
