@import 'styles/constants.scss';

.goal {
	display: flex;
	padding: 16px;
	
	border-top: 1px solid rgba(0,0,0,0.05);
	//margin-left: -16px;
	//margin-right: -16px;
	
	span.more {
		font-size: 10px;
		color: $primary;
	}
	
	.goal-icon {
		flex: 1;
		justify-content: center;
		
		.inventory-icon {
			height: 24px;
			//padding-right: 6px;
		}
	}

	.goal-info {
		flex: 6;
		
		.goal-details {

			display: flex;
			
			button {
				padding: 0;
				display:inline-block;
				i {
					font-size: 14px;
					line-height: 14px;
					vertical-align: top;
					padding-top: 0px;
				}
				visibility: hidden;
			}
			
			.goal-details-left {
				flex: 1;
				padding-top: 3px;
				padding-bottom: 2px;
				
				span {
					display:inline-block;
					font-size: 17px;
					line-height: 16px;
					margin-top: 3px;
				}
			}
			
			
			.goal-details-right {
				font-size:14px;
				line-height: 16px;
				letter-spacing: 5%;
				text-transform: uppercase;
				padding-top: 5px;
				padding-bottom: 2px;
				color: #828282;
				vertical-align: middle;
				
				.blue {
					color: $theme-color;
				}
			}
			
		}
	}
	
	&:hover {
		button {
			visibility: visible;
		}
	}
	
	&:hover {
		.goal-details-right {
			visibility: visible;
		}
		
		.goal-filled-bar {
			background-color: $primary-dark;
		}
	}
}
