@import 'styles/constants.scss';

.card-header {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.7px;
	color: #4f4f4f;
	padding-top: 3px;
	padding-bottom: 4px;
	text-transform: uppercase;
}

.goals {
	font-size: 14px;
	line-height: 16px;
	color: black;

	.goal-header button {
		margin: 0;
		padding: 0;
	}

	.goals-bottom-bar {
		padding-top: 12px;
		padding-bottom: 8px;
		display: flex;
		width: 100%;
		background-color: #fafafa;

		span {
			font-size: 14px;
			line-height: 19px;
			padding-top: 3px;
			padding-bottom: 4px;
		}

		.left {
			flex: 1;
			margin-left: 16px;
		}

		.right {
			white-space: nowrap;
			flex: 0;

			button {
				color: $theme-color;
				background-color: rgba(255,255,255,0);
				text-transform:uppercase;
				font-weight: 600;
				font-size: 12px;
				line-height: 14px;
				letter-spacing: 5%;
				padding-top: 5px;
				padding-bottom: 4px;
				-webkit-font-smoothing: antialiased;
			}
		}
	}
}

.goal-section {
	&:not(:first-child) {
		margin-top: 40px;
	}
}