@import 'styles/constants.scss';

.goal {
	display: flex;
	padding: 16px;
	padding-left: 0px;
	
	span.more {
		font-size: 10px;
		color: $primary;
	}
	
	.goal-icon {
		flex: 1;
		min-width: 50px;
		max-width: 50px;
		
		.inventory-icon {
			height: 24px;
			padding-left: 12px;
		}
	}

	.goal-info {
		flex: 6;
		
		.goal-details {
			
			.goal-details-left {
				flex: 1;
				padding-top: 3px;
				padding-bottom: 2px;
				
				span.product {
					display:inline-block;
					font-size: 14px;
					line-height: 16px;
					margin-top: 3px;
				}
			}
		}
		
		.goal-bars-wrapper {
			display: flex;
			flex-direction: column;
		}
	}
	
	&:hover {
		button {
			visibility: visible;
		}
	}
	
	&:hover {
		.goal-details-right {
			visibility: visible;
		}
		
		.goal-filled-bar {
			background-color: $primary-dark;
		}
	}
}
