@import 'styles/constants.scss';

.goal {
	display: flex;
	padding: 16px;
	padding-left: 0px;
	
	span.more {
		font-size: 10px;
		color: $primary;
	}
	
	.goal-icon {
		flex: 1;
		
		.inventory-icon {
			height: 24px;
			padding-left: 12px;
		}
	}

	.goal-info {
		flex: 6;
		
		.goal-details {

			display: flex;
			
			button {
				padding: 0;
				display:inline-block;
				i {
					font-size: 14px;
					line-height: 14px;
					vertical-align: top;
					padding-top: 0px;
				}
				visibility: hidden;
			}
			
			.goal-details-left {
				flex: 1;
				padding-top: 3px;
				padding-bottom: 2px;
				
				span {
					display:inline-block;
					font-size: 17px;
					line-height: 16px;
					margin-top: 3px;
				}
			}
		}
	}
	
	&:hover {
		button {
			visibility: visible;
		}
	}
	
	&:hover {
		.goal-details-right {
			visibility: visible;
		}
		
		.goal-filled-bar {
			background-color: $primary-dark;
		}
	}
}
