@import 'styles/constants.scss';

.goal-bar-wrapper {
	display: flex;
	position: relative;
	
	.goal-interval {
		flex: 3;
		color: $elephant;
	}
	
	.goal-whole-bar {
		flex: 12;
		
		display: flex;
		height: 8px;
		margin-top: 8px;
		margin-bottom: 4px;
		background-color: rgba(0,0,0,0.1);
		border-radius: 4px;
		text-align: right;
		
		span {
			padding-right: 8px;
		}
	}
	
	.goal-filled-bar {
		background-color: $theme-color;
		background: linear-gradient(to left, #2087F1 , #0E4FDF);
		color: rgba(255,255,255,0.5);
		border-radius: 4px 0 0 4px;
	}
	
	&:hover {
		.goal-details-right {
			visibility: visible;
		}
		
		.goal-filled-bar {
			background-color: $primary-dark;
		}
	}
	
	// TOOLTIP
	$tooltip-background-color: rgba(31,36,41,1);
	
	.goal-bar-tooltip {
		display: none;
		
		z-index: 902;
		position: absolute;
		right: 70px;
		top: -30px;
		
		background-color: $tooltip-background-color;
		color: $elephant-ultra-light;
		border-radius: 2px;
		padding-top: 4px;
		padding-bottom: 4px;
		padding-left: 14px;
		padding-right: 14px;
		box-shadow: rgba(0,0,0,0.3) 0 2px 12px;
		-webkit-font-smoothing: antialiased;
		
		.title {
			font-weight: bold;
		}
		
		&::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -8px;
			border-width: 8px;
			border-style: solid;
			border-color: $tooltip-background-color transparent transparent transparent;
		}
		
		
		.goal-hover-text {
			font-size:14px;
			line-height: 16px;
			letter-spacing: 5%;
			padding-top: 5px;
			padding-bottom: 2px;
			color: $elephant-light;
			vertical-align: middle;
			
			.blue {
				color: $primary-light;
			}
		}
	}
	
	&:hover .goal-bar-tooltip {
		display: inline-block;
	}
}


