.goals-by-username {
	.header {
		font-size: 20px;
		line-height: 32px;
		color: #445562;
		padding-top: 5px;
		padding-bottom: 11px;
		display: block;
		margin-top: 50px;
	}
	.header.first {
		margin-top: 0px;
	}

	.bold {
		font-weight: bold;
	}
}