@import 'styles/constants.scss';

.goals-side-bar {
	min-width: 260px;
	max-width: 260px;
	background-color: white;
	
	& > div {
	
	}
	
	.goal-side-bar-tabs {
		padding-top: 38px;
		padding-left: 20px;
		border-bottom: 1px solid $elephant-ultra-light;
	}
	
	.goals-list-wrapper {
		flex: 1;
		padding-right: 24px;
		padding-left: 10px;
	}
	
	.goals-zero-state {
		padding: 22px;
		color: $elephant;
		text-align: center;
	}
}