@import 'styles/constants.scss';

.paginated-table {

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.pagination {
		width: 100%;
		text-align: right;
		font-size: 11px;
		line-height: 12px;
		margin-top: 8px;
		color: rgba(0,0,0,0.3);

		&>div, &>i {
			margin: 0 0 0 8px;
		}

		.pagination-arrow {
			color: rgba(0, 0, 0, 0.3);
			vertical-align: middle;
			cursor: pointer;
			font-size: 20px;

			&.disabled {
				color: $light-gray;
			}
		}
	}

	li {
		border-bottom: 1px solid $light-gray;

		&.header {
			border-top: 1px solid $light-gray;
		}
	}

	&.border-none li {
		border-bottom: 0px;
		border-top: 0px;

		&.header {
			border-bottom: 1px solid $light-gray;
		}
	}

	
}