@import 'styles/constants.scss';

.paginated-table {

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.pagination {
		width: 100%;
		font-size: 14px;
		line-height: 60px;
        display: flex;
		justify-content: space-between;
		padding: 0 36px;

		.pagination-info {
            font-weight: bold;
			color: $gray-dark;
		}

		.pagination-links {
			color: $primary-light;
			display: flex;
			align-items: center;

			.pagination-pipe {
				padding: 0 8px;
			}

			.disabled {
				color: $gray-light;
			}
		}

		.pagination-link {
			vertical-align: middle;
			cursor: pointer;
		}

	}

	li {
		border-bottom: 1px solid $gray-light;

		&.header {
			border-top: 1px solid $gray-light;
		}
	}

	&.border-none li {
		border-bottom: 0px;
		border-top: 0px;

		&.header {
			border-bottom: 1px solid $gray-light;
		}
	}

	
}