$primary: #0073F9; // #49A8F3;
$background-color: #FBFCFC;
$light-grey: #eee;
$shadow-0: 0 1px 4px rgba(0,0,0,0.03), 0 1px 3px rgba(0,0,0,0.06);
$shadow-1: 0 1px 4px rgba(0,0,0,0.08), 0 1px 3px rgba(0,0,0,0.12);
$shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$font-stack: "Camphor Pro", Nunito, Overpass, Proxima Nova, sans-serif;
$unit: 10px;

$section-border: 1px solid rgba(0,0,0,0.1);
$sidebar-width: 270px;
$navbar-height: 50px;

$z-index-navbar: 990;
$z-index-dialog: 991;
$z-index-edit-menu: 992;

.activity {
  min-width: 700px;
  width: 100%;
    background-color: white;

  .activity-process {
    width: 100%;
    background-color: white;

    .no {
      visibility: hidden;
      padding-left: 16px;

      a {
        border: none;
        outline: none;
        border-radius: 40px;
        padding: 6px;
        background-color: rgba(255,255,255,0.5);
        color: rgba(0,0,0,0.1);
        font-size: 14px;
        line-height: 14px;
        display: inline-block;
        height: 26px;
        width: 26px;

        i.material-icons {
          font-size: 14px;
          vertical-align: middle;
        }
      }

      .loading-indicator {
        height: 44px;
        width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &.expanded {
      .no, .no a i {
        visibility: visible;
        color: $primary;
      }
    }

    .activity-process-row {
      display: flex;
      flex-direction: row;
      vertical-align: middle;
      color: rgba(0,0,0,0.62);
      cursor: pointer;

      .no {
        flex: 0;
      }

      // a div is a column in the thing
      div {
        vertical-align: middle;
        flex: 3;
        text-align: right;

        span {
          display: inline-block;
          line-height: 32px;
          vertical-align: middle;

        }
      }

      div.min {
        flex: 0;
        flex-basis: 32px;
        width: 32px;
        height: 32px;
        margin-right: 8px;
        text-align: center;
      }

      div.process-name {
        font-weight: bold;
        color: rgba(0,0,0,0.7);
        text-align: left;
        flex: 2;
      }

      img {
        width: 16px;
      }

      .tiny {
        flex: 2;
      }
    }

    &.expanded {
      background-color: rgba(0,0,0,0.03);
      border-radius: 4px;
      border: none;
      overflow: hidden;

      .activity-process-header {
        background-color: $primary;
        color: white;

        div.process-name {
          color: white;
        }
      }

    }

    .activity-process-header {
      //border-top: 1px solid rgba(0,0,0,0.05);
      border-top: 1px solid rgba(0,0,0,0.05);
    }

    .process-origin-header, .process-origin-header>div:first-child {
      color: rgba(0,0,0,0.8);
    }

    .process-origin-header {
      padding: 6px 16px;
    }

    .process-origin-task {
      padding: 4px 16px;

      a:hover {
        color: primary;
      }
    }

    .expanded-origin {
      background-color: rgba(0,0,0,0.03);

      &>div:last-child {
        padding-bottom: 12px;
      }

      .task-list div>span {
        color: rgba(0,0,0,0.4);
      }
    }
  }

  .arrow {
    vertical-align: middle;
    font-size: 16px;
    line-height: 16px;
  }

  .min {
    border-radius: 20px;

    &.img {
      background-color: white;
    }

    img, span {
      vertical-align: middle;
      display: inline-block;
    } 

    img {
          margin: 8px auto;
    }
  }

  .object-list.activity-log {
    padding-bottom: 0;
  }

  .content {
    margin-bottom: 24px;
  }

  .activity-page-help-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 24px;
    margin-bottom: 76px;
  }

  .activity-page-help {
    background-color: $primary;
    margin-bottom: 24px;
    color: white;
    padding: 12px;
    border-radius: 8px;
    width: 400px;
    cursor: pointer;
 }

  .activity-page-help-header {
    font-weight: bold;
    padding-bottom: 12px;
  }
  .activity-page-help-link {
    font-weight: bold;
  }

  .activity-page-forward {
    vertical-align: middle
  }

  .activity-page-forward-i {
    vertical-align: middle;
  }
}


