@import 'styles/constants.scss';

div.activity-list-item {
	width: 100%;
	display: flex;
	cursor: pointer;
	padding-right: 36px;

	.process-code {
		flex: 2;
	}

	.process-name {
		flex: 4;
	}

	.product-code {
		flex: 4;
	}

	.runs {
		flex: 3;
	}
	
	.outputs {
		flex: 3;
	}
	
	.view-all-tasks {
		flex: 3;
		color: $primary-light;
	}
}