@import 'styles/constants.scss';

.activity-list-item {
	width: 100%;
	display: flex;
	cursor: pointer;

	.process-code {
		flex: 2;
	}

	.process-name {
		flex: 4;
	}

	.product-code {
		flex: 4;
	}

	.runs {
		flex: 3;
	}
	
	.outputs {
		flex: 3;
	}
	
	.view-all-tasks {
		flex: 3;
		color: $primary-light;
		visibility: hidden;
		text-align: center;
	}
	
	&:hover .view-all-tasks {
		visibility: visible;
	}
}

// override PaginatedTable header border and text size
.paginated-table.border-none li.header .object-list-header {
	border-top-width: 0px;
	border-bottom-width: 1px;
	
	& .activity-list-header>div {
		margin-top: 12px;
		margin-bottom: 12px;
		font-size: 14px;
	}
}