@import 'styles/constants.scss';

.activity {
    div.activity-list-item {
        width: 100%;
        display: flex;
        align-items: center;

        &:hover .download, &:hover .chart {
            visibility: visible;
        }
    }

    .icon {
        flex: 1;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            max-width: 100%;
        }
    }

    .process-code {
        flex: 1;
    }

    .process-name {
        flex: 3;
    }

    .product-code {
        flex: 3;
    }

    .runs {
        flex: 3;
    }

    .outputs {
        flex: 4;
    }

    .view-all-tasks {
        flex: 2;
        color: $primary-light;
    }

    .download {
        flex: 1;
        visibility: hidden;
    }

    .chart {
        flex: 1;
        visibility: hidden;
        height: 26px;
        width: 43.5px;
        
        &.trashed-process {
            pointer-events: none;
            cursor: default;
        }
    }

}