@import 'styles/constants.scss';

.tabs-wrapper {
	display: flex;
	//min-height: 3px;

	& > div {
		margin-right: 12px;
		cursor: pointer;
	}
	
	.tab-wrapper {
		display: flex;
		color: $elephant;
		padding-bottom: 0px;
		border-bottom: 4px solid white; // Invisible -- avoids active-tab border from jostling content
		
		.icon-wrapper {
			flex: 1;
			margin-left: -6px;
			margin-top: -2px;
			height: 24px;
		}
		
		.title {
			flex: 1;
		}
		
		&.active-tab {
			color: $primary;
			border-bottom: 4px solid $primary;
		}
	}
}

