@import '../../../styles/constants.scss';



.recipe-item-field {
	//color: $gray-dark;
	//display: flex;
	//flex: 1;
	//text-align: left;
	//overflow: hidden;
	max-height: 20px;
	white-space:nowrap;
	
	& > span {
		padding-right: 8px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

