@import 'styles/constants.scss';

.button {
	border-radius: 2px;
	font-size: 14px;
	color: white;

	&:hover {
		box-shadow: rgba(0,0,0,0.3) 0 2px 6px;
	}

	&.button-wide {
		padding: 12px 0;
	}
}

.button.button-gray {
	background-color: $gray-ultra-light;
	color: $gray;
}

.button.button-red {
	background-color: $red;
	color: white;
}

.button.button-dark-gray {
	background-color: $gray;
	color: white;
}

.button.button-dashed {
	background-color: rgba(0,0,0,0);
	color: $gray;
	border: 1px dashed $gray-light;
	span { color: $gray }
	&:hover {
		color: $primary;
		border-color: $primary;
		box-shadow: none;
		span { color: $primary; }
	}
}

.button.button-blue-outline {
	background-color: white;
	border: 1px solid $primary;
	color: $primary;
}

.button.button-loading {
	background-color: $gray-ultra-light;
	color: $gray;
	&:hover {
		box-shadow: none;
		cursor: not-allowed;
	}

	&.button-red {
		background-color: $red-ultra-light;
	}
}